@model Position

<div class="container">
    <form method="post" asp-action="create" asp-controller="positon">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Position Name</label>
            <input asp-for="Name" class="form-control" placeholder="Position Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
        <a asp-action="index" asp-controller="positon" class="btn btn-outline-dark">Cancel</a>
    </form>
</div>